{% extends '::base.html.twig' %}

{% block body %}
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Symphonia</b></a>
        </div>
        <div class="login-box-body">
            <h3 class="login-box-msg">Update password</h3>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_errors(form) }}
            </div>
            {{ form_widget(form.code, {value: code}) }}
            <div class="form-group">
                {{ form_widget(form.password.first) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.password.second) }}
            </div>
            {{ form_errors(form.password.first) }}

            <div class="form-group">
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}
            <div>
                <a href="{{ path('login') }}">Enter</a><br>
            </div>
        </div>
    </div>
{% endblock %}